.qgridusers {
    position: absolute;
    top: 35%;
    left: 12%;
    right: 12%;
}


#titlecontainer {
    display: flex;
    justify-content: center;
}
#title {
    position: absolute;
    top: 15%;
    font: 40px "Helvetica Neue";
    font-weight: bold;
    color: orange;
}

.banner1 {
    display: flex;
    font-weight: bolder;
    font-size: 36px;
    font-family: 'Fredoka One', cursive;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: url(https://64.media.tumblr.com/2f18d4e8bc54423b1e9a70cbc8de088f/tumblr_pl8i7cuNKu1uawsh4_1280.jpg);
    background-size: cover;
}

.sorry {
    position: absolute;
    background-color: #00B8FF;
    left: 18%;
    margin-top: 5%;
    border-radius: 5px;

}

span.sorry {
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    color: white;
    padding: 30px;

}

.radius {
    height: 20vh;
    margin-right: 5%;
    margin-top: 1%;

}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.radselect {
    margin-right: 10px;
}

.radform {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.radbutton {
    background-color: #00B8FF;
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    margin-left: 10px;
}

.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
    background: #cae6f0;
}
