.qgridusers {
    position: absolute;
    top: 25%;
    left: 12%;
    right: 12%;
}

#titlecontainer {
    display: flex;
    justify-content: center;
}
#title {
    position: absolute;
    top: 15%;
    font: 40px "Helvetica Neue";
    font-weight: bold;
    color: orange;
}

.banner {
    display: flex;
    font-weight: bolder;
    font-size: 36px;
    font-family: 'Fredoka One', cursive;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: url(https://i.pinimg.com/originals/9f/b8/44/9fb844ad03fdde1530eaf7dba5bba5f7.gif);
    background-size: cover;
}
