.one {
    background-color: orange;

}

.two {
    background-color: #00B8FF;

}

.three {
    background-color: orange;

}
.four {
    background-color: #00B8FF;

}
.five {
    background-color: #00B8FF;

}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1 {
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    font-weight:bold;
    color: white;
    padding: 2%;
}

.MuiTypography-root.MuiListItemText-secondary.MuiTypography-body2 {
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    color: white;
    padding: 2%;
}

.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
    height: 350px;
}

.listy {
    border-radius: 10px;
}



.nav {
    cursor: pointer;
}

.MuiListItem-root.five.MuiListItem-gutters {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
