

.containerguy2 {
    background-color: lightgrey;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    padding: 30px;
    border-radius: 5px;
    height: 50vh;
    overflow-y: scroll;
}

.gearname {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    padding: 30px;
}

.attributes {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}

.imagebloke {
    padding-top: 30px;
    padding-bottom: 30px;
}

ul.control-dots {
    background-color:orange;

}

li.slide.selected {
    background-color: orange;
    padding: 40px;
}
p.carousel-status {
    font-family: 'Fredoka One', cursive;
    font-size: 10px;

}

.carousel .slide {
    background-color: orange;
}
