.one {
    background-color: orange;

}

.two {
    background-color: yellowgreen;

}

.three {
    background-color: skyblue;

}
.four {
    background-color: violet;

}
.five {
    background-color: blueviolet;

}
