.headerdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: white;
    background-color: #00B8FF;
}

.nope {
    text-decoration: none;
}
