.editprof {
    display: flex;
    justify-content: center;
}

.MuiTypography-root.musicianname {
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: white;
    padding: 5%;
    background-color: orange;
    border-radius: 5px
}
/* .MuiCardContent-root {
    background-color: #00B8FF;
} */

/* .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
    height: 20%;
} */

.MuiTypography-root.musicianbio {
    font-family: 'Fredoka One';
    font-size: 18px;
    color: black;
    padding: 7%;
}

.followFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

.follow {
    font-family: 'Fredoka One';
    font-size: 14px;
    color: black;
    padding: 1%;
    cursor: pointer;
}

.MuiSvgIcon-root.edit {
    fill: #00B8FF;
}

.edit2 {
    cursor: pointer;
}

.formheaderbox {
    display: flex;
    justify-content: center;
}

.formheader {
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.formlabels {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color: white;
    padding: 10px;
}


.MuiCardMedia-root.musicimage.MuiCardMedia-media.MuiCardMedia-img {
    margin: 10%;
    width: 80%;
}

.followlis {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
}

.followname {
    padding-left: 5%;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}

.nope1 {
    text-decoration: none;
}

.nobody12 {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
}

.robo {
    height: 40%;
    width: 20%;
}
