.editprof {
    display: flex;
    justify-content: center;
}

.MuiTypography-root.musicianname {
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: white;
    padding: 5%;
    background-color: orange;
    border-radius: 5px
}
/* .MuiCardContent-root {
    background-color: #00B8FF;
} */


.MuiTypography-root.musicianbio {
    font-family: 'Fredoka One';
    font-size: 18px;
    color: black;
    padding: 7%;
}

.MuiSvgIcon-root.edit {
    fill: #00B8FF;
}

.edit2 {
    cursor: pointer;
}

.formheaderbox {
    display: flex;
    justify-content: center;
}

.formheader {
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.formlabels {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color: white;
    padding: 10px;
}

.MuiButtonBase-root.MuiButton-root.makeStyles-root-8.MuiButton-contained.superspecialbutton.MuiButton-containedSizeLarge.MuiButton-sizeLarge {
    background-color: orange;
    padding: 10px;
}
